.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  &--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 2s;
    /* animation-delay: 1s; */
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out;
  }
  &--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 2s ease-out;
    margin-bottom: 40px;
  }
}
body {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 30px;
}
